.footer {
  display: flex;
  padding: 0 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}

.left {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.right {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.copyright {
  -webkit-text-stroke-width: 1px;
}

.social-logo {
  width: 40px;
}

@media screen and (min-width: 600px) {
  .footer {
    padding: 40px;
    flex-direction: row;
  }

  .copyright {
    padding-left: 6rem;
  }

  .right {
    flex: 50%;
    padding-right: 6rem;
    justify-content: flex-end;
  }

  .left {
    flex: 50%;
    padding-right: 6rem;
  }

  .socials {
    margin-right: 15px;
  }
}
