.howtobuy {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
}

.howtobuy h1 {
  font-size: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.leftSide {
  flex: 50%;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  flex-direction: column;
}

.leftSide ol {
  font-size: 30px;
}

.leftSide li {
  margin-bottom: 15px;
}

.buy {
  font-size: 40px;
}

.buy:hover {
  font-size: 45px;
  color: #3c6185;
}

.rightSide {
  flex: 100%;
  padding: 0 1rem;
  max-width: 30rem;
  margin-top: 5rem;
}

.rightSide > div {
  padding: 1rem;
  color: white;
  overflow: hidden;
  border-radius: 1rem;
  background: rgb(40, 40, 48);
  -webkit-text-stroke-width: 0px;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }

  .rightSide {
    flex: 50%;
    margin-top: 0;
    padding: 0 6rem;
  }

  .leftSide {
    padding-left: 6rem;
  }
}
