.tokenomics {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.tokenomics ul {
  text-transform: uppercase;
  font-size: 30px;
  list-style-type: none;
}

.tokenomics li {
  margin-bottom: 10px;
}

.logo {
  width: 30%;
  margin-top: 20px;
}

.icons {
  width: 30px;
}

@media screen and (max-width: 600px) {
  .tokenomics {
    flex-direction: column-reverse;
  }

  .logo {
    width: 70%;
  }

  .tokenomics ul {
    font-size: 26px;
  }
}
